* {margin:0;padding:0}

body {
	background-color:#F7F7F7;
	font-family: Helvetica, sans-serif;
	color:#515151;
}

.github {
        background-color:#666666;
	color:#EDEDED;
	text-align:center;
	font-size:75%;
        float:right;
        right:600px;
        width:200px;
	height:40px;
	margin-right:10px;
	margin-top:none;
}

.github a:link {color:#CD8500}
.github a:visited {color:#CD8500}


.maincontent {
	color:#515151;
	width: 500px;
	margin-top:none;
	align: center;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}


h1 { text-align:center; }

.maincontent a:link {color:#8B5A00}
a:hover{color:#8B8878}
a:visited {color:#8B5A00}

table {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

table.items tbody, tr, td  {
	text-align:left;	
	margin-left:auto;
	margin-right:auto;
}

table.landing tbody, tr, td {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	float:center;
}

